:host{
    width: 100%;
}

.add-button {
    background-color: var(--active); 
    color: black; 
    border: none;
    margin: 16px 16px 0 16px;
}

.main-container {
    display: flex;
}

.categories-container {
    margin-right: 20px;
    overflow-y: auto;
    height: 600px;
    border-radius: 10px;
    border: solid 1px var(--active);
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 600px;
}
