<div style="width: 100%">
    <div class="title">Patients</div>
    <div style="display: flex; align-items: center">
        <button (click)="onAddEdit(undefined)" type="button" class="btn btn-secondary add-button">
            Add
        </button>
        <input type="text" [value]="searchText | async" (input)="onFilter($event)" placeholder="Search" style="margin: 16px 16px 0 16px;"/>
    </div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of tableColumns">{{ column }}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let patient of filteredData | async">
                <td> {{patient.identityNumber}} </td>
                <td> {{patient.name}} </td>
                <td> {{patient.birthDate | date}} </td>
                <td> {{patient.address}} </td>
                <td>
                    <div class="control-buttons-container">
                        <button (click)="onAddEdit(patient.id!)" class="control-button">
                            <img class="icon-img" src="..\assets\icons\edit.svg"/>
                        </button>
                        <button (click)="onDelete(patient.id!)" class="control-button">
                            <img class="icon-img" src="..\assets\icons\trash.svg"/>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #modal>
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ isAdd ? 'Add' : 'Edit' }} Patient</h5>
        </div>
    
        <div class="modal-body">
            <form #form='ngForm'>
              <div class="form" style="display: flex; flex-direction: column; gap: 16px;">
    
                <div class="form-group"> 
                    <label for="ID">Identity Number</label>
                    <input required [(ngModel)]="patient.identityNumber" class="form-control" name="ID" id="ID" type="text">
                    <small *ngIf="!isFormValid && patient.identityNumber == undefined" class="required-field">*Identity Number is required</small>
                </div>
    
                <div class="form-group"> 
                    <label for="patientName">Name</label>
                    <input required [(ngModel)]="patient.name" class="form-control" name="patientName" id="patientName" type="text">
                    <small *ngIf="!isFormValid && patient.name == undefined" class="required-field">*Name is required</small>
                </div>
    
                <div class="form-group"> 
                    <label for="birthDate">Birth Date</label>
                    <input required [(ngModel)]="patient.birthDate" class="form-control" name="birthDate" id="birthDate" type="date">
                    <small *ngIf="!isFormValid && patient.birthDate == undefined" class="required-field">*Birth Date is required</small>
                </div>
    
                <div class="form-group"> 
                    <label for="address">Address</label>
                    <input required [(ngModel)]="patient.address" class="form-control" name="address" id="address" type="text">
                    <small *ngIf="!isFormValid && patient.address == undefined" class="required-field">*Address is required</small>
                </div>
              </div>
            </form>
        </div>
    
        <div class="modal-footer">
          <button (click)="close()" type="button" class="btn btn-secondary"> Close </button>
          <button (click)="onSave(form)" type="button" class="btn btn-primary">{{ isAdd ? 'Submit' : 'Save' }}</button>
        </div>
      </div>
</ng-template>