<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{ isAdd ? 'Add' : 'Edit' }} Patient</h5>
    </div>

    <div class="modal-body">
        <form #form='ngForm'>
          <div class="form" style="display: flex; flex-direction: column; gap: 16px;">

            <div class="form-group"> 
                <label for="ID">Identity Number</label>
                <input [(ngModel)]="patient.identityNumber" class="form-control" name="ID" id="ID" type="text">
            </div>

            <div class="form-group"> 
                <label for="patientName">Name</label>
                <input [(ngModel)]="patient.name" class="form-control" name="patientName" id="patientName" type="text">
            </div>

            <div class="form-group"> 
                <label for="birthDate">Birth Date</label>
                <input [(ngModel)]="patient.birthDate" class="form-control" name="birthDate" id="birthDate" type="date">
            </div>

            <div class="form-group"> 
                <label for="address">Address</label>
                <input [(ngModel)]="patient.address" class="form-control" name="address" id="address" type="text">
            </div>
          </div>
        </form>
    </div>

    <div class="modal-footer">
      <button (click)="close()" type="button" class="btn btn-secondary"> Close </button>
      <button (click)="OnSave()" type="button" class="btn btn-primary">{{ isAdd ? 'Submit' : 'Save' }}</button>
    </div>
  </div>