<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{ isAdd ? 'Add' : 'Edit' }} Appointment</h5>
    </div>

    <div class="modal-body">
        <form #form='ngForm'>
          <div class="form" style="display: flex; flex-direction: column; gap: 16px;">
            <div class="form-group">
              <label for="dectorSelection">Doctor</label>
               <select class="form-control" name="dectorSelection" id="dectorSelection" [(ngModel)]="appointment.doctorId">
                <option [value]="undefined" hidden selected>Select Doctor</option>
                <option *ngFor="let doctor of doctors" [value]="doctor.id">
                  {{doctor.name}}
                </option>
               </select>
            </div>
            <div class="form-group">
              <label for="patientSelection">Patient</label>
               <select class="form-control" name="patientSelection" id="patientSelection" [(ngModel)]="appointment.patientId">
                <option [value]="undefined" hidden selected>Select Patient</option>
                <option *ngFor="let patient of patients" [value]="patient.id">
                  {{patient.name}}
                </option>
               </select>
            </div>
            
            <div class="form-group">
              <label for="appointment">Appointment Date and Time</label>
              <input
                id="appointmentTime"
                name="appointmentTime"
                class="form-control"
                placeholder="yyyy-mm-dd"
                type="datetime-local"
                [(ngModel)]="appointment && appointment.visitTime"
              />
          </div>

          </div>
        </form>
    </div>

    <div class="modal-footer">
      <button (click)="close()" type="button" class="btn btn-secondary"> Close </button>
      <button (click)="OnSave()" type="button" class="btn btn-primary">{{ isAdd ? 'Submit' : 'Save' }}</button>
    </div>
  </div>