<div>
    <div class="title">Doctors</div>
    <div style="display: flex; align-items: center">
        <button (click)="onAddEdit(undefined)" type="button" class="btn btn-secondary add-button">
            Add
        </button>
        <input type="text" [value]="searchText | async" (input)="onFilter($event)" placeholder="Search" style="margin: 16px 16px 0 16px;"/>
    </div>
    
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of tableColumns">{{ column }}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let doctor of filteredData | async">
                <td> {{doctor.name}} </td>
                <td> {{doctor.specificationName}} </td>
                <td> {{doctor.locationName}} </td>
                <td> {{doctor.fromWorkingHour | date:'shortTime'}} </td>
                <td> {{doctor.toWorkingHour | date:'shortTime'}} </td>
                <td>
                    <div class="control-buttons-container">
                        <button (click)="onAddEdit(doctor.id!)" class="control-button">
                            <img class="icon-img" src="..\assets\icons\edit.svg"/>
                        </button>
                        <button (click)="onDelete(doctor.id!)" class="control-button">
                            <img class="icon-img" src="..\assets\icons\trash.svg"/>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #modal >
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{ isAdd ? 'Add' : 'Edit' }} Doctor</h5>
    </div>

    <div class="modal-body">
        <form>
          <div class="form" style="display: flex; flex-direction: column; gap: 16px;">
            <div class="form-group"> 
                <label for="doctorName">Name</label>
                <input [(ngModel)]="doctor.name" class="form-control" name="doctorName" id="doctorName" type="text">
            </div>
            <div class="form-group">
                <label for="specification">Specification</label>
                 <select class="form-control" name="specification" id="specification" [(ngModel)]="doctor.specificationId">
                  <option [value]="undefined" hidden selected>Select Specification</option>
                  <option *ngFor="let specification of this.lookupsLists['Specification']" [value]="specification.id">
                    {{specification.name}}
                  </option>
                 </select>
              </div>
              
              <div class="form-group">
                <label for="location">Location</label>
                 <select class="form-control" name="location" id="location" [(ngModel)]="doctor.locationId">
                  <option [value]="undefined" hidden selected>Select Location</option>
                  <option *ngFor="let location of lookupsLists['Location']" [value]="location.id">
                    {{location.name}}
                  </option>
                 </select>
              </div>
            
            <div class="form-group">
              <label for="fromTime">From Time</label>
              <input
                id="fromTime"
                name="fromTime"
                class="form-control"
                type="time"
                [(ngModel)]="fromTime"
              />
          </div>

          <div class="form-group">
            <label for="toTime">To Time</label>
            <input
              id="toTime"
              name="toTime"
              class="form-control"
              type="time"
              [(ngModel)]="toTime"
            />
        </div>
      </div>
        </form>
    </div>

    <div class="modal-footer">
      <button (click)="close()" type="button" class="btn btn-secondary"> Close </button>
      <button (click)="onSave()" type="button" class="btn btn-primary">{{ isAdd ? 'Submit' : 'Save' }}</button>
    </div>
  </div>
</ng-template>
