<div>
    <div class="title">Doctors</div>
    <button (click)="onAdd()" type="button" class="btn btn-secondary add-button">
        Add
    </button>
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of tableColumns">{{ column }}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let doctor of doctors">
                <td> {{doctor.name}} </td>
                <td> {{doctor.specification?.name}} </td>
                <td> {{doctor.location?.name}} </td>
                <td> {{doctor.fromWorkingHour | date:'shortTime'}} </td>
                <td> {{doctor.toWorkingHour | date:'shortTime'}} </td>
                <td>
                    <div class="control-buttons-container">
                        <button (click)="onEdit(doctor.id!, doctor)" class="control-button">
                            <img class="icon-img" src="..\assets\icons\edit.svg"/>
                        </button>
                        <button (click)="onDelete(doctor.id!, doctor)" class="control-button">
                            <img class="icon-img" src="..\assets\icons\trash.svg"/>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>