<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{ isAdd ? 'Add' : 'Edit' }} Lookup</h5>
    </div>

    <div class="modal-body">
        <form>
          <div class="form" style="display: flex; flex-direction: column; gap: 16px;">
            <div class="form-group"> 
                <label for="doctorName">Name</label>
                <input [(ngModel)]="lookup.name" class="form-control" name="doctorName" id="doctorName" type="text">
            </div>
              
              <div class="form-group">
                <label for="category">Category</label>
                 <select class="form-control" name="category" id="category" [(ngModel)]="lookup.categoryId">
                  <option [value]="undefined" hidden selected>Select Category</option>
                  <option *ngFor="let category of categories" [value]="category.id">
                    {{category.title}}
                  </option>
                 </select>
              </div>
            
          </div>
        </form>
    </div>

    <div class="modal-footer">
      <button (click)="close()" type="button" class="btn btn-secondary"> Close </button>
      <button (click)="OnSave()" type="button" class="btn btn-primary">{{ isAdd ? 'Submit' : 'Save' }}</button>
    </div>
  </div>