<div>
    <div class="title">Appointments</div>
    <button (click)="onAdd()" type="button" class="btn btn-secondary add-button">
        Add
    </button>
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of tableColumns">{{ column }}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let appointment of appointments">
                <td> {{appointment.doctorName}} </td>
                <td> {{appointment.patientName}} </td>
                <td> {{appointment.visitTime | date: 'medium' }} </td>
                <td>
                    <div class="control-buttons-container">
                        <button (click)="onEdit(appointment.id!)" class="control-button">
                            <img class="icon-img" src="..\assets\icons\edit.svg"/>
                        </button>
                        <button (click)="onDelete(appointment.id!)" class="control-button">
                            <img class="icon-img" src="..\assets\icons\trash.svg"/>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>