@import "~bootstrap/dist/css/bootstrap.css";
@import 'ngx-toastr/toastr';

:root{
    --main-title: #3b3a39;
    --sub-title: #9e9999;
    --container:  #f2f2f2;
    --active: #a5ccba;
}

body {
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.title {
    padding: 24px 24px 0 24px;
    font-size: 24px;
    color: var(--main-title);
}

.sub-title {
    padding-left: 24px;
    padding-bottom: 16px;
    font-size: 16px;
    color: var(--sub-title);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 24px
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--container);
}

.control-buttons-container {
    display: flex;
    gap: 8px;
}

.control-button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.control-button:hover{
    background-color: var(--active);
}

.icon-img{
    width: 17px;
}

.margin-8 {
    margin: 8px;
}

.card {
    padding: 16px;
    border-color: var(--container);
    border-radius: 10px;
}